/* Text */

@font-face {
    font-family: Outsourced Retro;
    src: url("../fonts/retro-font.otf") format("opentype");
}
.text-red {
    color: red;
}

.font-size-title {
    /*font-size: 5vw; - for later when creating a responsive design*/
    font-size: 100px;
}

.font-retro {
    font-family: Outsourced Retro, Roboto, monospace;
}

.font-title {
    font-family: Roboto, monospace;
}

/* Colors */
.background-color-success-dark {
    background-color: rgb(198, 225, 208);
}

.background-color-success-dark-transparent-07 {
    background-color: rgba(198, 225, 208, 0.7);

}

.background-color-success-light-transparent-05 {
    background-color: rgba(208, 237, 219, 0.5);
}

.background-color-success-light-transparent-03 {
    background-color: rgba(208, 237, 219, 0.3);
}



.height-auto {
    height:auto;
}

.btn-sm.round {
    border-radius: 10px;
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

/*
.form-outline {
        position: relative;
    }

.form-outline input:focus ~ .form-label,
.form-outline input:not(:placeholder-shown) ~ .form-label {
    top: -1.5rem;
    font-size: 0.8rem;
}
*/

/*.form-outline {
    position: relative;
}

.form-outline input {
    padding-top: 1.5rem;
}

.form-outline input:focus {
    padding-top: 1.5rem;
}

.form-outline label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    pointer-events: none;
    transition: top 0.2s, font-size 0.2s;
}

.form-outline input:focus~label {
    top: -1.5rem;
    font-size: 1.0rem;
}*/

/*
figure out how to override bootstrap css


#bootstrap-overrides.success:link {
  color: red;
}

!* mouse over link *!
#bootstrap-overrides.success:hover {
  color: hotpink;
}

!* selected link *!
#bootstrap-overrides.success:active {
  color: blue;
}*/
