{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block login_signup %}{% endblock %}

{% block body %}
    <section class="text-center text-lg-start">
        <div class="d-flex justify-content-center">
            <div class="mt-5 card row col-6">
                <div class="row g-0 d-flex align-items-center">

                    <!-- Image -->
                    <div class="col-lg-4 d-none d-lg-flex h-100">
                        <img src="../../static/images/img-entrance.jpg" alt="Oh no, the image is missing :(!"
                             class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" title="AI 'art'"/>
                    </div>


                    <div class="card-body py-5 px-md-5 col-lg-8">
                        <!-- Form -->
                        <form method="post" action="/login" class="needs-validation" novalidate>

                            <!-- Username input -->
                            <div class="form-outline mb-4 py-2">
                                <label for="input-name" class="form-label">Username</label>
                                <input type="text" name="input-name" id="input-name" class="form-control border" required/>

                                <!-- Validation responses -->
                                <div class="valid-feedback">Looks good</div>
                                <div class="invalid-feedback">Enter username</div>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4 py-2">
                                <label for="input-password" class="form-label">Password</label>
                                <input type="password" name="input-password" id="input-password" class="form-control border" required/>

                                <!-- Validation responses -->
                                <div class="valid-feedback">Looks good</div>
                                <div class="invalid-feedback">Enter password</div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success btn-block mb-4 mt-1">Log in</button>

                            <!-- Sign-up link -->
                            <div class="text-center">
                                <a href="/sign-up" type="button" class="link-offset-2 link-offset-3-hover
                                                                    link-underline link-underline-opacity-0
                                                                    link-underline-opacity-75-hover"
                                >Sign up</a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script src="../../static/js/form_validation_empty_field.js"></script>
{% endblock body %}
