{% extends "base.html" %}

{% block title %}Forum 9000{% endblock title %}

{% block body %}
    <div class="d-flex flex-column justify-content-center">
        <div class="text-center">
            <a href="/topic-create" class="btn btn-success round mb-3">New topic</a>
        </div>
        <table class="table table-success table-striped table-hover">
            <thead>
            <tr class="border-bottom border-success">
                <th class="fw-bold">Title</th>
                <th class="fw-bold">Author</th>
                <th class="fw-bold">Date</th>
            </tr>
            </thead>

            <tbody>
            {% for topic in topics %}
                <tr>
                    <td><a href="/topic/{{ topic.topic_id }}" class="link-primary">{{ topic.title }}</a></td>
                    <td>{{ topic.author.username }}</td>
                    <td>{{ topic.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}