{% extends "base.html" %}
{% block title %}Forum 9000{% endblock title %}

{% block body %}
    <form method="post" action="/">
        <textarea name="input-message">Enter your message...</textarea>
        <button type="submit">Submit</button>
    </form>

    <table>
        <tr>
            <th>Naslov</th>
            <th>Avthor</th>
            <th>Ustvarjeno - datum</th>
        </tr>
        {% for topic in topics %}
        <tr>
            <td>{{topic.title}}</td>
            <td>{{topic.author.username}}</td>
            <td>{{topic.created}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}