{% extends "base.html" %}

{% block title %}Edit topic{% endblock title %}

{% block body %}
    <div class="d-flex flex-column text-center mt-5">

        <!-- Headline -->
        <h1 class="text-success mb-5 fw-bold font-title">Edit topic: {{ topic.title }}</h1>

        <!-- Form -->
        <form method="post">

            <div class="d-flex text-center flex-column col-10 col-xl-6 mx-auto">
                <!-- Topic title input -->
                <div class="form-outline mb-4 py-2">
                    <label for="input-edit-topic-title" class="form-label">Title</label>
                    <input type="text" name="input-edit-topic-title" value="{{topic.title}}" class="form-control border" required> <br>
                </div>

                <!-- Topic description input -->
                <div class="form-outline mb-4 py-2">
                    <label for="input-edit-topic-description" class="form-label">Description</label>
                    <textarea name="input-edit-topic-description" rows="5" class="form-control border" required>{{topic.description}}</textarea> <br>
                </div>
            </div>

            <!-- Csrf field -->
            <input type="hidden" name="input_csrf" value="{{ csrf_token }}"/>


            <!-- Submit button -->
            <button type="submit" class="btn btn-success">Edit</button>

        </form>

    </div>
{% endblock body %}