{% extends "base.html" %}
{% block title %}Create topic{% endblock title %}

{% block body %}
<div class="d-flex flex-column justify-content-center text-center">
    <h1>Create a new topic</h1>

    <form method="post">
        <input type="text" name="title" placeholder="Topic title" required> <br>
        <textarea name="description" rows="5" required></textarea> <br>
        <input type="hidden" name="input_csrf" value="{{ csrf_token }}" >
        <button>Submit</button>
    </form>
</div>
{% endblock body %}